<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365657226820-4silbpoo43ghe9aes54oob7bev83v6us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365657226820-4silbpoo43ghe9aes54oob7bev83v6us</string>
	<key>API_KEY</key>
	<string>AIzaSyCmTnRMHUkMKI4GjNFNSmuQVA9Zt3oZsx4</string>
	<key>GCM_SENDER_ID</key>
	<string>365657226820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArataKatayama</string>
	<key>PROJECT_ID</key>
	<string>cook-assistant-15ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>cook-assistant-15ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365657226820:ios:f5af04c4dfed59a3690611</string>
</dict>
</plist>